<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Wendy's S3 Cloud Storage </title>
    </head>

        <body>
            <h3> Please Login to Continue </h3>
            <form action="login" method="post">
           Username: <input type="text" name="username"><br>
           Password: <input type="password" name="password"><br>
           <input type ="submit">
           </form>
        </body>

</html>


<%# 
 <%=message%>


<%# <form action='/s3upload' method='post' accept-charset="utf-8" enctype="multipart/form-data"> %>
    <%# <label for='image_file'>Image</label> %>
    <%# <input type="file" name="image" id="image_file" /> %>
    <%# <button type='submit'>Save</button> %>
<%# </form>  %>